@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Roboto:ital,wght@1,100;1,300&display=swap');

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.container-musica {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header-musica header-musica header-musica header-musica"
        "main-musica main-musica main-musica main-musica"
        "main-musica main-musica main-musica main-musica"
        "main-musica main-musica main-musica main-musica"
        "main-musica main-musica main-musica main-musica"
        "footer-musica footer-musica footer-musica footer-musica";
}

.header-musica {
    grid-area: header-musica;
}

.main-musica {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "titles titles titles titles"
        "KEM RTL MOP AJFA"
        "M L RL GINC"
        "STA DM HTSF .";
    grid-area: main-musica;
}

.titles {
    display: grid;
    grid-template-columns: 0.7fr 1.6fr 0.7fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". h1 ."
        ". p .";
    grid-area: titles;
}

.h1 {
    grid-area: h1;
}

.p {
    grid-area: p;
}

.KEM {
    grid-area: KEM;
}

.RTL {
    grid-area: RTL;
}

.MOP {
    grid-area: MOP;
}

.AJFA {
    grid-area: AJFA;
}

.M {
    grid-area: M;
}

.L {
    grid-area: L;
}

.RL {
    grid-area: RL;
}

.GINC {
    grid-area: GINC;
}

.STA {
    grid-area: STA;
}

.DM {
    grid-area: DM;
}

.HTSF {
    grid-area: HTSF;
}

.footer-musica {
    grid-area: footer-musica;
}

.container-log {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header-log header-log header-log header-log"
        "main-log main-log main-log main-log"
        "main-log main-log main-log main-log"
        "main-log main-log main-log main-log"
        "main-log main-log main-log main-log"
        "footer-log footer-log footer-log footer-log";
}

.header-log {
    grid-area: header-log;
}

.main-log {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "txt txt txt txt"
        "login login register register"
        "login login register register"
        ". . . .";
    grid-area: main-log;
}

.login {
    grid-area: login;
}

.register {
    grid-area: register;
}

.txt {
    grid-area: txt;
}

.footer-log {
    grid-area: footer-log;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid black 1px;
}

.nav-h2 {
    font-size: 1rem;
    font-family: cinzel;
}

.nav-p {
    font-size: 1rem;
    font-family: roboto;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

#popupBody {
    height: 50%;
    width: 50%;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    margin: 20% auto;
}

#cerrar {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.popupContent {
    margin-top: 10%;
    height: 90%;
}

a {
    text-decoration: none;
    font-family: roboto;
    font-weight: 300;
}

a:visited {
    color: black;
}

.pp-ul {
    height: 90%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section1 {
    height: 60vh;
}

.s1-h {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.s1-h1 {
    font-family: cinzel;
    font-size: 1.8rem;
}

.s1-h2 {
    font-family: cinzel;
    font-size: 1rem;
}

.s1-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    width: 100%;
}

.imgs1 {
    width: 50%;
}


.footer-img {
    margin: 0% 8%;
    width: 8%;
}

.Album-img {
    margin-left: 17px;
    width: 90%;
}

.h1-musica {
    font-family: cinzel;
}

.p-musica {
    font-family: roboto;
}

.Met-a {
    text-decoration: underline;
}

.login,
.register {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

label {
    margin-right: 3%;
    font-family: roboto;
}

input {
    border-radius: 10px;
    height: 20px;
    width: 250px;
}

.txt {
    display: flex;
    justify-content: center;
    height: 100px;
}

.Logintxt {
    font-family: cinzel;
    font-size: 1.3em;
}

.buttonn {
    width: 50%;
    border-radius: 10px;
    font-family: cinzel;
}
a:link{
    color: black;
}

@media (min-width: 320px) {
    .main-musica {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0fr 0fr 0fr 0fr;
        gap: 1px 1px;
        grid-template-areas:
            "titles titles titles"
            "KEM RTL MOP"
            "AJFA M L"
            "RL GINC STA"
            "DM HTSF .";
        grid-area: main-musica;
    }

    .Album-img {
        width: 80%;
        margin: 3% 10%;
    }

    .h1-musica {
        font-size: 1.3rem;
        text-align: center;
        margin-top: 20%;
    }

    .p-musica {
        font-size: 1rem;
        text-align: center;
    }

    .txt {
        font-size: 0.8em;
    }

    input {
        width: 70%;
    }

    input,
    label {
        margin: 1px;
    }
}

@media (min-width: 375px) {
    .container {
        grid-template-rows: 1fr 8.5fr 1fr;
    }

    .main-musica {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0fr 0fr 0fr 0fr;
        gap: 1px 1px;
        grid-template-areas:
            "titles titles titles"
            "KEM RTL MOP"
            "AJFA M L"
            "RL GINC STA"
            "DM HTSF .";
        grid-area: main-musica;
    }

    .Album-img {
        width: 80%;
        margin: 3% 10%;
    }
}

@media (max-width: 425px) {
    .container {
        grid-template-rows: 1fr 8.5fr 1fr;
    }

    .Album-img {
        margin: 3% 10%;
        width: 80%;
    }

    .main-musica {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 0fr 0fr 0fr 0fr;
        gap: 1px 1px;
        grid-template-areas:
            "titles titles titles"
            "KEM RTL MOP"
            "AJFA M L"
            "RL GINC STA"
            "DM HTSF .";
        grid-area: main-musica;
    }

    .container-input {
        flex-direction: column;
    }

    .main-log {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "txt txt"
            "login login"
            "register register";
        grid-area: main-log;
    }

    .login,
    .register {
        margin: 5px 0px 5px 20px;
    }

    .footer-log {
        margin-top: 30px;
    }

}

@media (min-width: 768px) {
    .container {
        grid-template-rows: 1fr 6.6fr 1fr;
    }

    .imgs1 {
        width: 25%
    }

    .footer-img {
        width: 4%;
        margin: 0% 10%;
    }

    .nav-h2 {
        font-size: 1.3rem;
    }

    .a-popup {
        font-size: 1.2rem;
    }

    .s1-h1 {
        font-size: 2rem;
    }

    #popupBody {
        height: 50%;
        width: 25%;
        margin: 20% auto;
    }

    .Album-img {
        width: 80%;
    }

    .h1-musica {
        font-size: 1.7rem;
        margin-top: 10%;
    }

    .p-musica {
        font-size: 1.1rem;
    }

    .container-input {
        flex-direction: column;
    }
}

@media (min-width: 1024px) {
    .container {
        grid-template-rows: 1fr 6.5fr 1fr;
    }

    #popupBody {
        height: 60%;
        width: 25%;
        margin: 10% auto;
    }

    .h1-musica {
        font-size: 1.9rem;
        margin-top: 10%;
    }

    .p-musica {
        font-size: 1.2rem;
    }

    .container-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1440px) {
    #popupBody {
        height: 60%;
        width: 20%;
        margin: 10% auto;
    }

    .h1-musica {
        font-size: 2.2rem;
        margin-top: 0;
    }

    .p-musica {
        font-size: 1.7rem;
    }
}

@media (min-width: 1366px) {
    .container {
        grid-template-rows: 1fr 7.9fr 1fr;
    }

    #popupBody {
        height: 50%;
        width: 20%;
        padding: 2%;
        border-radius: 20px;
        box-shadow: 0 0 5px #CCC;
        background: #FFF;
        position: relative;
        margin: 10% auto;
    }
}